<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="naver.css">
</head>
<body>
    <div class="header">
        <div class="navi">
            <div class="left">
                <div class="navi-shortcuts"></div>
                <div class="pay"></div>
            </div>
            <div class="right">
                <div class="naver-talk"></div>
                <div class="alarm"></div>
            </div>
        </div>
        <div class="search">search</div>
        <div class="shortcuts">
            <div class="shortcuts-box"></div>
            <div class="shortcuts-box"></div>
            <div class="shortcuts-box"></div>
            <div class="shortcuts-box"></div>
            <div class="shortcuts-box"></div>
            <div class="shortcuts-box"></div>
            <div class="shortcuts-box"></div>
            <div class="shortcuts-box"></div>
            <div class="shortcuts-box"></div>
            <div class="shortcuts-box"></div>
        </div>
    </div>
    <div class="container">
        <div class="left-container">
            <div class="advertisement1">advertisement</div>
            <div class="news">news</div>
            <div class="shopping">shopping</div>
            <div class="reading">reading</div>
        </div>
        <div class="right-container">
            <div class="user">user</div>
            <div class="advertisement2">advertisement</div>
            <div class="weather">weather</div>
            <div class="stock-market">stock market</div>
            <div class="widget-board">widget-board</div>
        </div>
    </div>
    <div class="footer">

    </div>
    
</body>
</html>